<div class="container">
<h1>Search Movies by Title</h1>
<%= form_tag 'action', :id=>'searchform' do %>
  <div class="input-group input-group-lg">
    <%= text_field_tag :query, "", :class => "form-control", :placeholder => "Title (or part)" %>
    <span class="input-group-btn">
      <input class="btn btn-default" type="submit" value="Search"/>
    </span>
  </div>
<% end %>

<div id="spinner"></div>
<div id="results" class="collapse in" /></div>
