// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
	text-align:center;
}

body {
	padding-top: 70px;
	overflow-y: scroll;
}

#titlecol {
	width: 25%;
}

#castcol {
	width: 35%;
}

#ratingcol {
	width: 25%;
}

#results {
	padding: 16px;
}

.centredcell {
	vertical-align:middle !important;
	text-align: center;
}

.titlecell {
	font-weight: bold;
	font-size: 16px;
}
 
.ratings {
	color: rgb(80, 107, 22);
	font-weight: bold; 
	font-size: 48px;
}

.movierow td:hover	{
	cursor:pointer;
}

.details-block{
	padding:5px;
	position:relative;
	height: auto;
	display:block;
	clear:both;
}

.details-poster-container {
	float:left;
	display:inline-block;
	padding:5px;
	width:40%;
	height:auto;
}

.details-ratings {
	float:right;
	display:inline-block;
	position:relative;
	padding:5px;
	width: 60%;
	height: auto;
}

.details-ratings-image {
	display:inline-block;
	height:auto;
	float:right;
}

.details-critics-rating{
	position:relative;
	display:inline-block;
	width:100%;
}

.details-consensus{
	clear:both;
}

.details-audience-rating{
	position:relative;
	display:inline-block;
	height:100%;
	width:100%;
}
